html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', Arial;
}

/*Para ocultar el scroll del body si el menú está desplegado*/
.no-scroll {
    overflow: hidden;
    overflow-x: hidden;
}

/*Variables para calcular anchos de containers*/
:root {
    --s-padding: 0.9375rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/********/
/*Header*/
/********/
#header {
    height: 100vh;

    background-image: url('imgGenerales/headerMobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

/***********/
/*Container*/
/***********/
.container {
    padding: var(--s-padding);
    max-width: 1440px;
    text-align: center;
}

/*****/
/*Nav*/
/*****/
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    z-index: 2;

    margin-bottom: 1.875rem;
}

/***************/
/*Botón de menú*/
/***************/
.menu-button {
    width: 1.875rem;
    height: 1.875rem;

    cursor: pointer;

    background-color: transparent;

    border: none;
}

.menu-button i {
    color: white;
    font-size: 1.5rem;
}

.display-none {
    display: none;
}

/******************/
/*Menú desplegable*/
/******************/
#menu-desplegable {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;

    transform: translateY(-100%); /* Inicialmente escondido fuera de la vista */
    transition: transform 0.6s ease;

    display: flex; /* Usamos flexbox para centrar el contenido */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    z-index: 1000; /* Asegura que el menú esté encima de otros elementos */
}

#menu-desplegable.show-menu {
    transform: translateY(0); /* Muestra el menú moviéndolo hacia abajo */
}

/************************************/
/*Botón para cerrar menú desplegable*/
/************************************/
.btn-close-menu-container {
    height: 3.46875rem;
    margin-right: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

/************************/
/*Links menú desplegable*/
/************************/
.links-nav > li:nth-child(-n+3) {
    margin-bottom: 1.875rem;
}

.links-nav > li > a {
    color: white;
    
    font-size: 2.25rem;
    font-weight: 600;

    padding: 0.1875rem;

    display: block;
}

/*************************/
/*Footer menú desplegable*/
/*************************/
.social-media-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.9375rem;
}

.social-media-menu > li {
    width: 1.875rem;
    height: 1.875rem;

    border-radius: 50%;

    background-color: darkred;

    margin: 0 0.46875rem;
}

.social-media-menu > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-menu > li > a > i {
    color: black;
    font-size: 1.3125rem;
    font-weight: 500;
}

.menu-desplegable-footer > p {
    font-size: 0.75rem;
    font-weight: 400;
    color: white;
}

/*************/
/*Logo header*/
/*************/
.logo-header > a {
    display: block;

    width: 100%;
    height: 100%;
}

.logo-header > a > img {
    width: 5.0625rem;
    height: 5.0625rem;

    display: block;
}

/*********************/
/*Social media header*/
/*********************/
.social-media-header > li {
    width: 1.875rem;
    height: 1.875rem;

    border-radius: 50%;

    transition: 0.5s all;

    margin: 0.375rem 0;
}

.social-media-header > li:hover {
    background-color: darkred;
}

.social-media-header > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-header > li > a > i {
    color: white;
    font-size: 1.125rem;
}

/********/
/*Slider*/
/********/
#slider {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0;

    z-index: 1;

    position: relative;
}

.btn-slider {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;

    width: 1.875rem;
    height: 1.875rem;
}

.btn-slider:active {
    transform: scale(1.2);
}

.btn-slider > i {
    color: white;
    font-size: 1.5em;
}

#img-container {
    width: 100%;
}

#img-container > img {
    width: 14.109375rem;
    transition: opacity 0.6s ease-in-out;
}

/*********************/
/*********************/
/*Cervezas destacadas*/
/*********************/
/*********************/
.header-section {
    margin-bottom: 0.9375rem;
}

.header-section > h1 {
    font-size: 1.6875rem;
    font-weight: 700;
    color: black;
}

/**********/
/*Cervezas*/
/**********/
.destacadas-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.875rem;
}

.cerveza-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.9375rem;

    border-radius: 0.5625rem;
    border: none;
    box-shadow: 0px 0px 0.1rem 0.05rem rgba(0, 0, 0, 0.3);

    width: 100%;
}

div.cerveza-container:nth-child(-n+2) {
    margin-bottom: 1.3125rem;
}

.etiqueta-destacada {
    border-radius: 0.375rem;

    background-color: black;
    color: white;

    font-size: 0.75rem;
    font-weight: 500;

    padding: 0.1875rem 0.375rem;
    margin-right: auto;
    margin-bottom: 0.5625rem;
}

.img-destacada {
    width: 100%;
    margin-bottom: 0.5625rem;
}

.nombre-destacada {
    margin-bottom: 0.5625rem;
}

.nombre-destacada h2 {
    font-size: 1.3125rem;
    font-weight: 500;
    color: black;
}

.info-destacada {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.9375rem;
}

.info-destacada > span {
    font-size: 0.75rem;
    color: black;
    font-weight: 600;
}

.acciones-destacadas {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********/
/*Modales*/
/*********/
.modal {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.6s ease;

    z-index: 1000;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: white;
    padding: 0.9375rem;
    border-radius: 0.5625rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content > img {
    width: 100%;
    margin-bottom: 0.9375rem;
}

.modal-content > h2 {
    font-size: 1.6875rem;
    font-weight: 600;
    margin-bottom: 0.5625rem;
}

.modal-content > p {
    text-align: justify;
    font-size: 0.9375rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
}

/*********/
/*Botones*/
/*********/
.more-info-btn {
    padding: 0.375rem 0.5625rem;

    border: none;
    border-radius: 0.5625rem;

    background-color: black;
    
    cursor: pointer;
    transition: 0.6s ease;
}

.more-info-btn > i {
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    pointer-events: none;
}

.more-info-btn:hover {
    background-color: darkred;
}

.more-info-btn:active {
    transform: scale(0.95);
}

.btn {
    padding: 0.375rem 0.5625rem;

    font-size: 1.125rem;
    text-transform: uppercase;

    color: white;
    background-color: black;

    font-family: 'Quicksand', Arial;
    font-weight: 600;

    border: none;
    border-radius: 0.5625rem;

    cursor: pointer;
    transition: 0.5s all;
}

.btn:hover {
    background-color: darkred;
}

.close-btn {
    margin-left: auto;
    font-size: 1.875rem;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-comprar {
    font-size: 1.3125rem;
    border-radius: 0.5625rem;
    padding: 0.375rem 0.5625rem;
    font-weight: 600;
    border: none;
    background-color: orange;
    cursor: pointer;
}

/*****************/
/*****************/
/*Divisor sección*/
/*****************/
/*****************/
.divisor-seccion {
    max-width: 1440px;
    border: none;
    height: 0.03125rem;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0.0625rem 0px rgba(0, 0, 0, 0.3);
    margin: 0 0.9375rem;
    border-radius: 0.1875rem;
}

/***********************/
/***********************/
/*Sección más productos*/
/***********************/
/***********************/
.mas-productos.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 16.0625rem;

    overflow: hidden;
    border-radius: 0.5625rem;
    position: relative;
}

.producto-container::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

div.producto-container:nth-child(-n+2) {
    margin-bottom: 1.3125rem;
}

.producto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre-producto {
    position: absolute;

    color: white;

    padding: 0.375rem 0.75rem;

    border-radius: 0.5625rem;

    background-color: rgba(0, 0, 0, 0.6);

    font-size: 1.3125rem;
    font-weight: 500;

    z-index: 2;
    cursor: pointer;
    transition: 0.6s all;
}

.nombre-producto:hover {
    background-color: darkred;
}

/****************/
/****************/
/*Envíos sección*/
/****************/
/****************/
.pasos-envio-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.875rem;
}

.pasos-envio-container > div {
    display: flex;
    align-items: center;

    width: 100%;
}

.pasos-envio-container > div:first-child {
    margin-bottom: 0.9375rem;
}

.paso-container {
    width: 50%;
}

.paso-container img {
    width: 3.75rem;
    margin-bottom: 0.375rem;
}

.paso {
    font-size: 0.9375rem;
    color: black;
    font-weight: 600;
}

/******************/
/******************/
/*Sección nosotros*/
/******************/
/******************/
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros-img {
    margin-bottom: 0.9375rem;
}

.nosotros-img img {
    width: 100%;

    border-radius: 0.5625rem;
}

.info-nosotros h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.375rem;
}

.info-nosotros p {
    font-size: 0.9375rem;
    text-align: justify;
    font-weight: 400;
    line-height: 1.3125rem;
}

/******************/
/******************/
/*Contacto sección*/
/******************/
/******************/
.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalles-contacto {
    margin-bottom: 0.9375rem;
}

.detalles-contacto > p {
    font-size: 0.9375rem;
    text-align: justify;
    font-weight: 400;
    line-height: 1.3125rem;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form > div {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.form > div > label {
    font-size: 0.9375rem;
    font-weight: 600;
    margin-bottom: 0.1875rem;
    text-align: start;
}

.form > div > input,
.form > div > textarea {
    border-radius: 0.375rem;
    padding: 0.375rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0.9375rem;
    font-family: 'Quicksand', Arial;
}

.form > div > input {
    height: 1.875rem;
}

.form > div > textarea {
    height: 5.625rem;
    resize: none;
}

/********/
/*Footer*/
/********/
#footer {
    background-color: black;
}

.info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 1.875rem;
}

.info-footer > img {
    width: 7.5rem;
    margin-bottom: 0.5625rem;
}

.info-footer > div > h1 {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.375rem;
}

.info-footer > div > address > p {
    font-size: 0.9375rem;
    font-weight: 400;
    color: white;
    font-style: normal;
}

.info-footer > div > address > p:first-of-type {
    margin-bottom: 0.375rem;
}

.social-media-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.875rem;
}

.social-media-footer > li {
    background-color: darkred;

    width: 1.875rem;
    height: 1.875rem;

    border-radius: 50%;
}

.social-media-footer > li:nth-child(2) {
    margin: 0 0.9375rem;
}

.social-media-footer > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-footer > li > a > i {
    color: black;
    font-size: 1.3125rem;
    font-weight: 500;
}

#footer > p {
    font-size: 0.75rem;
    color: white;
    font-weight: 400;
}