/*Modificar y adaptar medidas estilo rem o em*/

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', Arial;
    /*overflow: hidden;*/
}

/*Para ocultar el scroll del body si el menú está desplegado*/
.no-scroll {
    overflow: hidden;
    /* Opcional: Si el contenido se desplaza horizontalmente, también puedes ocultar el scroll horizontal */
    overflow-x: hidden;
}

/*Variables para calcular anchos de containers*/
:root {
    --s-width: 0;
    --s-padding: 15;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*Header*/
#header {
    height: 100vh;

    background-image: url('imgGenerales/headerMobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

#header::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

/*Container*/
.container {
    padding: 0.9375em 0.9375em 1.875em;
    max-width: 1440px;
    text-align: center;
}

/*Nav*/
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    position: relative;

    z-index: 2;
}

.menu-button {
    width: 1.875em;
    height: 1.875em;

    cursor: pointer;

    background-color: transparent;
    border: none;
}

.menu-button i {
    color: white;
    font-size: 1.5em;
}

.logo-header > a {
    display: block;
}

.logo-header >a > img {
    width: 5.625em;
    height: 5.625em;

    display: block;
}

.social-media-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-header > li {
    width: 1.6875em;
    height: 1.6875em;

    border-radius: 50%;

    transition: 0.5s all;
}

.social-media-header > li:nth-child(2) {
    margin: 0.375em 0;
}

.social-media-header > li:hover {
    background-color: darkred;
}

.social-media-header >li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-header a i {
    color: white;
    font-size: 1.3125em;
}

/*min 305*/
/*********************/
/*********************/
/*Cervezas destacadas*/
/*********************/
/*********************/
.header-section {
    margin-bottom: 1.125em;
}

.header-section > h1 {
    font-size: 1.6875em;
    font-weight: 700;
    color: black;
}

/*Cervezas*/
.destacadas-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.3125em;
}

.cerveza-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.3125em;
    padding: 1.125em;

    border-radius: 0.75em;
    border: none;
    box-shadow: 0px 0px 3px 0.3px rgba(0, 0, 0, 0.3);

    position: relative;

    /*min-width: 275px;*/
    width: var(--s-width);
}

.etiqueta-destacada {
    border-radius: 0.375em;
    background-color: black;
    color: white;
    font-size: 0.75em;
    font-weight: 500;
    text-align: center;
    padding: 0.1875em 0.5625em;
    position: absolute;
    top: 1.125em;
    left: 1.125em;
}

.img-destacada {
    width: 100%;
}

.nombre-destacada {
    margin-bottom: 0.375em;
}

.nombre-destacada h2 {
    font-size: 1.3125em;
    font-weight: 600;
    color: black;
}

.info-destacada {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.75em;
}

.info-destacada > span {
    font-size: 0.9375em;
    color: black;
    font-weight: 400;
}

.acciones-destacadas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acciones-destacadas > span {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;

    margin: 0 0.75em;

    border-radius: 0.375em;

    width: 1.875em;
    height: 1.875em;
}

.acciones-destacadas > span > i {
    color: white;
    padding: 0.375em;
    font-size: 1.125em;
}

.btn {
    padding: 0.5625em 0.75em;
    font-size: 1.125em;
    color: white;
    background-color: black;
    font-family: 'Quicksand', Arial;
    font-weight: 600;
    border: none;
    border-radius: 0.75em;
    cursor: pointer;
    transition: 0.5s all;
    text-transform: uppercase;
}

.btn:hover {
    background-color: darkred;
}

/*****************/
/*****************/
/*Divisor sección*/
/*****************/
/*****************/
.divisor-seccion {
    max-width: 1440px;
    border: none;
    height: 0.03125em;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin: auto 0.9375em;
    border-radius: 0.9375em;
}

/***********************/
/***********************/
/*Sección más productos*/
/***********************/
/***********************/
.mas-productos.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--s-width);
    height: var(--s-width);

    overflow: hidden;
    border-radius: 0.9375em;
    margin-bottom: 0.9375em;
    position: relative;
}

.producto-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.producto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombre-producto {
    position: absolute;
    color: white;
    padding: 0.375em 0.75em;
    border-radius: 0.5625em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.3125em;
    font-weight: 500;
    z-index: 2;
}

/****************/
/****************/
/*Envíos sección*/
/****************/
/****************/
.pasos-envio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pasos-envio-container > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 1.875em;
}

.paso-container {
    width: 50%;
}

.paso-container img {
    width: 4.6875em;
    margin-bottom: 0.375em;
}

.paso {
    font-size: 0.9375em;
    color: black;
    font-weight: 500;
}

/******************/
/******************/
/*Sección nosotros*/
/******************/
/******************/
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros-img img {
    width: var(--s-width);
    margin-bottom: 0.75em;
    border-radius: 0.75em;
}

.info-nosotros h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.info-nosotros p {
    font-size: 0.9375em;
    text-align: justify;
    font-weight: 400;
    line-height: 1.125em;
}

/******************/
/******************/
/*Contacto sección*/
/******************/
/******************/
.contacto {
    margin-bottom: 0.9375em;
}

.contacto p {
    font-size: 0.9375em;
    text-align: justify;
    font-weight: 400;
    line-height: 1.125em;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.form > div > label {
    font-size: 0.9375em;
    font-weight: 500;
    margin-bottom: 0.1875em;
    text-align: start;
    width: 100%;
}

.form > div > input {
    width: 100%;
    border-radius: 0.375em;
    padding: 0.375em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0.75em;
    height: 1.875em;
    font-family: 'Quicksand', Arial;
}

.form > div > textarea {
    width: 100%;
    border-radius: 0.375em;
    padding: 0.375em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0.75em;
    height: 5.625em;
    resize: none;
    font-family: 'Quicksand', Arial;
}

/********/
/*Footer*/
/********/
#footer {
    background-color: black;
}

.info-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 1.875em;
}

.info-footer img {
    width: 7.5em;
    margin-bottom: 0.1875em;
}

.info-footer > div > h1 {
    font-size: 1.3125em;
    color: white;
    font-weight: 700;
    margin-bottom: 0.375em;
}

.info-footer > div > address > p {
    font-size: 0.9375em;
    font-weight: 400;
    color: white;
    font-style: normal;
}

.info-footer > div > address > p:first-of-type {
    margin-bottom: 0.375em;
}

.social-media-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.875em;
}

.social-media-footer > li {
    background-color: darkred;

    width: 1.875em;
    height: 1.875em;

    border-radius: 50%;

    display: inline;
}

.social-media-footer > li:nth-child(2) {
    margin: 0 0.75em;
}

.social-media-footer > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.social-media-footer > li > a > i {
    color: black;
    font-size: 1.3125em;
}

#footer > p {
    font-size: 0.75em;
    color: white;
    font-weight: 400;
}



.disply-none {
    display: none;
}

/* Estilos generales para el menú desplegable */
#menu-desplegable {
    position: fixed; /* Fija el menú en la pantalla */
    top: 0; /* Alinea el menú al borde superior */
    left: 0; /* Alinea el menú al borde izquierdo */

    width: 100%; /* Hace que el menú cubra todo el ancho */
    height: 100%; /* Hace que el menú cubra todo el alto */

    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */

    transform: translateY(-100%); /* Inicialmente escondido fuera de la vista */
    transition: transform 0.5s ease; /* Transición suave */

    display: flex; /* Usamos flexbox para centrar el contenido */
    flex-direction: column; /* Alinea el contenido en columna */
    justify-content: space-between; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */

    z-index: 1000; /* Asegura que el menú esté encima de otros elementos */
}

#menu-desplegable.show {
    transform: translateY(0); /* Muestra el menú moviéndolo hacia abajo */
}

/*#menu-desplegable.menu-button {*/
    /*background: none; /* Sin fondo */
    /*border: none; /* Sin borde */
    /*color: white; /* Texto blanco */
    /*font-size: 2rem; /* Tamaño del icono */
    /*cursor: pointer; /* Cursor de puntero */
/*}*/

.links-nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: auto;
    /*border: 1px solid red;*/
}

.links-nav > li {
    width: 100%;
}

.links-nav > li {
    margin-bottom: 1.875em;
}

.links-nav >li > a {
    color: white; /* Enlaces en blanco */
    
    font-size: 2.4375em;
    font-weight: 600;

    padding: 0.1875em;

    display: block;
}

.btn-close-menu-container {
    height: 5.625em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
}

/*#btn-close-menu {
    font-size: 18px;
}*/

.menu-desplegable-footer > p{
    font-size: 0.75em;
}